In [8]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [3]:
dir(housing)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [4]:
housing.data

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])

In [7]:
housing.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [9]:
df=pd.DataFrame(housing.data,columns=housing.feature_names)
df.head(3)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24

In [10]:
df.shape

(20640, 8)

In [11]:
df["MedHouseVal"]=housing.target

In [12]:
df.head(3)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521

In [13]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [15]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

Seeing Some Outliers and will remove later if model performance is poor

In [16]:
X=df.drop("MedHouseVal",axis=1)
y=df["MedHouseVal"]

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

### Trained A Model Using Linear_Regression

In [31]:
from sklearn.linear_model import LinearRegression
import time

In [32]:
start=time.time()
model_lr= LinearRegression()
model_lr.fit(X_train,y_train)
end=time.time()

In [34]:
print("The score of Linear Regression model:",model_lr.score(X_test,y_test),"Total Time Taken:",end-start)

The score of Linear Regression model: 0.5965968374812354 Total Time Taken: 0.013808250427246094

### Trained A Model Using Gradient_boosting (GBM)

In [24]:
from sklearn.ensemble import GradientBoostingRegressor

In [35]:
start=time.time()
model_gb=GradientBoostingRegressor()
model_gb.fit(X_train,y_train)
end=time.time()

In [36]:
print("The score of Gradient Boosting Regressor:",model_gb.score(X_test,y_test),"Total Time Taken:",end-start)

The score of Linear Regression model: 0.7790280034069652 Total Time Taken: 6.698338508605957

### Trained A Model Using Xtreme_Gradient_boosting (XGB)

In [38]:
from xgboost import  XGBRegressor

In [39]:
start=time.time()
model_Xgb=XGBRegressor()
model_Xgb.fit(X_train,y_train)
end=time.time()

In [40]:
print("The score of Xtreme Gradient Boosting Regressor model:",model_Xgb.score(X_test,y_test),"Total Time Taken:",end-start)

The score of Xtreme Gradient Boosting Regressor model: 0.8326512949840744 Total Time Taken: 0.3511018753051758

# Improved model accuracy and reduced training time using XGBoost compared to Gradient Boosting and Linear Regressor.